<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-body">
          <form class="form-inline" #templateVariableName="ngForm" (ngSubmit)="submit(templateVariableName)">
            <div class="form-group">
              <input class="form-control" type="text" name="symbol" id="symbol" placeholder="symbol" ngModel>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="close" id="close" placeholder="close" ngModel>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="date" id="date" placeholder="dd-mm-yyy" ngModel>
            </div>
            <button class="btn btn-deafult" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th (click)="sortData('symbol')">SYMBOL
                  <span [ngClass]="getChartClass('symbol')" class="sort-icon fa" aria-hidden="true"></span>
                </th>
                <th (click)="sortData('close')">CLOSE
                  <span [ngClass]="getChartClass('close')" class="sort-icon fa" aria-hidden="true"></span>
                </th>
                <th (click)="sortData('date')">DATE
                  <span [ngClass]="getChartClass('date')" class="sort-icon fa" aria-hidden="true"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSet1 | tableSort : options">
                <td>{{item.symbol}}</td>
                <td>{{item.close}}</td>
                <td>{{item.date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
